<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>add new patient</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Registrating a new patient</h1>
    <form th:action="@{/patient/add}" th:object="${patient}" method="post">
        first name
        <input type="text" th:field="*{firstname}" class="form-control">

        last name
        <input type="text" th:field="*{lastname}" class="form-control">

        svnr
        <input type="text" th:field="*{svnr}" class="form-control">

        gender
        <input type="text" th:field="*{gender}" class="form-control">

        birth date
        <input type="date" th:field="*{birth}" class="form-control">

        <input type="submit" class="form-control" value="Save">
    </form>

</div>
</body>
</html>